*.exe
*.exe~
*.dll
*.so
*.dylib
*.test
*.out
vendor/
go.sum

*.db
*.sqlite
*.sqlite3

*.log
logs/

.idea/
.vscode/
.zed/
*.swp
*.swo
*~
.DS_Store

*.pacnew
*.pacsave
*.pacorig

tmp/
temp/
*.tmp
*.temp
*.pid

.env
.env.*
*.secret
secrets.yaml
secrets.yml

dist/
build/
out/
main
shop
*.bin
*.hex
